#!/usr/bin/env bash
# vim: filetype=sh :

alias ls='ls -lAr --color'
alias grep='grep -in --color=auto'
alias z='cd'
alias zi='cdi'
alias ..='cd ..'
alias ...='cd ../..'
alias py='python'
alias cat='bat'
alias c='clear'
alias Q='exit'

# {{- if .wsl }}
# Configure WSL alias so most files can be opened from Windows instead
alias open='/mnt/c/Windows/explorer.exe'

# Allows the shell to access the Windows Clipboard
alias pbcopy='/mnt/c/Windows/System32/clip.exe'
alias pbpaste='/mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe -command "Get-Clipboard"'
# {{- end }}

# Yazi: cd to last used directory
y() {
    tmp=$(mktemp)
    yazi "$@" --cwd-file="$tmp"
    cwd=$(<"$tmp")
    if [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
        z "$cwd"
    fi
    rm -f "$tmp"
}

# Python Virtual environment activation
venv() {
    if [ -f "./.venv/bin/activate" ]; then
        echo "Activating virtual environment..."
        source "./.venv/bin/activate"
    elif [ -f "./.venv/scripts/activate" ]; then
        echo "Activating virtual environment..."
        source "./.venv/scripts/activate"
    else
        echo "No virtual environment found in this directory."
    fi
}
