{{- if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash
# vim: ft=bash :
# self: {{ .chezmoi.sourceFile | sha256sum }}
# projects.yaml hash: {{ include (joinPath .chezmoi.sourceDir ".chezmoidata/projects.yaml") | sha256sum }}
{{- range .bootstrap_watchlist }}
# {{ . }} hash: {{ include . | sha256sum }}
{{- end}}

# List of projects to bootstrap
DIRS=(
    {{- range .bootstrap_projects }}
    "{{ . }}"
    {{- end }}
)

for dir in "${DIRS[@]}"; do
    file="{{ .chezmoi.destDir }}/$dir/{{ .bootstrapper }}.sh"
    if [ -f "$file" ]; then
        source "$file"
    else
        echo "[BOOTSTRAP] WARNING: bootstrap script not found:"
        echo "$file"
    fi
done
{{ end -}}
