#!/usr/bin/env bash
# vim: filetype=sh :

alias grep='\grep -in --color=auto'
alias ..='cd ..'
alias ...='cd ../..'
alias py='python'
alias c='clear'
alias gs='git status --short'
alias gl='git log --oneline --graph --all'
alias g='lazygit'
alias q='exit'

alias dotfiles-install='ansible-playbook $HOME/.bootstrap/ansible.yaml --ask-become-pass'
alias weather='curl wttr.in --silent --max-time 5'

if command -v bat &>/dev/null; then
    alias cat='bat'
elif command -v batcat &>/dev/null; then
    alias cat='batcat'
fi

_eza_tree() {
    local level="${1:-2}"
    eza -lTagh --level="$level" --color=always --icons=always --git | ov -FX
}

if command -v eza &>/dev/null; then
    alias ls='eza -lagh --color=auto --icons=auto --git'
    alias lsr='_eza_tree'
else
    alias ls='\ls -lhA --color=auto'
    alias lsr='\ls -lhAR --color=auto'
fi

# {{- if .wsl }}
# Configure WSL alias so most files can be opened from Windows instead
alias open='/mnt/c/Windows/explorer.exe'

# Allows the shell to access the Windows Clipboard
alias pbcopy='/mnt/c/Windows/System32/clip.exe'
alias pbpaste='/mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe -command "Get-Clipboard"'
# {{- end }}

# Yazi: cd to last used directory
y() {
    tmp=$(mktemp)
    yazi "$@" --cwd-file="$tmp"
    cwd=$(<"$tmp")
    if [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
        z "$cwd"
    fi
    rm -f "$tmp"
}

# Python Virtual environment activation
venv() {
    if [ -f "./.venv/bin/activate" ]; then
        echo "Activating virtual environment..."
        source "./.venv/bin/activate"

    # Windows version
    elif [ -f "./.venv/scripts/activate" ]; then
        echo "Activating virtual environment..."
        source "./.venv/scripts/activate"

    else
        echo "No virtual environment found in this directory."
    fi
}

osc52() {
    local base64_content
    base64_content=$(base64 | tr -d '\r\n')

    if [ -z "$base64_content" ]; then
        return
    fi

    if [ -n "$TMUX" ]; then
        printf "\ePtmux;\e\e]52;c;%s\a\e\\" "$base64_content"
    else
        printf "\e]52;c;%s\a" "$base64_content"
    fi
}
