#!/usr/bin/env bash
# vim: ft=bash :

# colors 00=bright white, 31=red, 32=green, 33=yellow, 34=blue, 35=purple,
#        36=cyan, 37=white
CAL_COLOR="94"
CLOCK_COLOR="01;36"

DateColumn=42
WeatherColumn=68

SPLASH_TMP=$(mktemp -d /dev/shm/splash.XXXXXXXXXX)
trap 'rm -rf "$SPLASH_TMP"' EXIT INT TERM ERR

TMP_CAL=$(mktemp "$SPLASH_TMP"/calendar.XXXXXXXXXX)
TMP_CLOCK=$(mktemp "$SPLASH_TMP"/clock-now.XXXXXXXXXX)
TMP_WEATHER=$(mktemp "$SPLASH_TMP"/now-weather.XXXXXXXXXX)
TMP_FASTFETCH=$(mktemp "$SPLASH_TMP"/fastfetch.XXXXXXXXXX)

get-date() {
  cal --color=always |\
  sed -E "3,8s/\[0m/\[0m\x1b[${CAL_COLOR}m/" |\
  sed -E "s/^/\x1b\[${CAL_COLOR}m/" |\
  sed -E "s/$/\x1b\[0m/" |\
  /bin/cat > "$TMP_CAL"
}

get-time() {
  # echo " $(date +"%H:%M") "  |\ # 24H clock option
  echo " $(date +"%I:%M %P") " |\
  toilet -f future --filter border |\
  sed "s/^/    \x1b[${CLOCK_COLOR}m/" > "$TMP_CLOCK"
}

get-weather() {
  curl "wttr.in/?0" -sm 1 |\
  sed '1s/,.*//' > "$TMP_WEATHER" # You can use sed to remove the text after the city name
  # sed $'1s/, /\\
  #   /' > "$TMP_WEATHER" # Or you can break the line and show the region below

  # Was valid weather report found or an error message?
  grep -q "Weather report:" "$TMP_WEATHER" || /bin/cat <<'EOF' > "$TMP_WEATHER"
+============================+
| Weather unavailable now!!! |
| Check reason with command: |
|                            |
|   curl wttr.in/?0 -sm 1    |
|                            |
+============================+
EOF

  sed -iE "s/^/\x1b\[0m/" "$TMP_WEATHER"
}

get-ff() {
  fastfetch --pipe false >> "$TMP_FASTFETCH"
}

# Start gathering info concurrently
get-weather &
pid_weather=$!
get-date &
pid_date=$!
get-time &
pid_time=$!
get-ff &
pid_ff=$!

wait $pid_time
printf '\n%s\n\n' "$(< "$TMP_CLOCK")"

#--------- DATE -------------------------------------------------------------

tput sc                 # Save cursor position.

# Move up and right
printf "\e[7A\e[${DateColumn}G"

wait $pid_date
while IFS= read -r Date; do
  printf "\e[${DateColumn}G%s\e[1B" "$Date"
done < "$TMP_CAL"

#-------- WEATHER ------------------------------------------------------------

# Move up and right
printf "\e[7A\e[${WeatherColumn}G"

wait $pid_weather
while IFS= read -r Weather; do
  printf "\e[${WeatherColumn}G%s\e[1B" "$Weather"
done < "$TMP_WEATHER"

tput rc                     # Restore saved cursor position.

#-------- FASTFETCH ---------------------------------------------------------

wait $pid_ff
printf '\n\n%s\n' "$(< "$TMP_FASTFETCH")"
