# vim: ft=yaml :

# Code modified from chezmoi.io under machines/linux
{{- $osid := .chezmoi.os -}}
{{- $distro := "" -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $distro = .chezmoi.osRelease.id -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end }}

{{- $is_ssh := false -}}
{{- if or (env "SSH_CLIENT") (env "SSH_TTY") -}}
{{-   $is_ssh = true -}}
{{- end }}

{{- $hasDisplay := ne (env "DISPLAY") "" -}}
{{- $hasWayland := ne (env "WAYLAND_DISPLAY") "" -}}
{{- $guiDetected := or $hasDisplay $hasWayland -}}
{{- $isWSL := contains "microsoft" (.chezmoi.kernel.osrelease | lower) }}
{{- $shouldBeGUI := and $guiDetected (not $isWSL) }}

data:
{{- if eq .chezmoi.os "windows" -}}
  hasGUI: true
  windows: true
  linux: false
  osid: {{ $osid | quote }}
  distro: null
  wsl: false
  ssh: {{ promptBoolOnce . "ssh" "Is SSH the default access method for this machine" $is_ssh }}
{{- else }}
  hasGUI: {{ promptBoolOnce . "hasGUI" "Does this machine have a GUI interface" $shouldBeGUI }}
  windows: false
  linux: {{ contains "linux" $osid}}
  osid: {{ $osid | quote }}
  distro: {{ $distro }}
  wsl: {{ promptBoolOnce . "wsl" "Is this a WSL environment" $isWSL }}
  ssh: {{ promptBoolOnce . "ssh" "Is SSH the default access method for this machine" $is_ssh }}
{{- end }}

