README*
LICENSE*
.gitignore
.install*

# OS Specific directives
{{- if ne .chezmoi.os "windows" }}
.chezmoiscripts/*windows* # Ignore any script with Windows as its name
.chezmoiscripts/*.ps1 # Additionally, ignore PowerShell scripts too
{{- end }}

{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/*linux* # Ignore any script with Linux as its name
.chezmoiscripts/*.sh # Additionally, ignore Bash scripts too
{{- end }}

# vim: ft=gitignore :
