#!/usr/bin/env bash
# vim: filetype=bash :

# Start profiling
__profile_start=$(date +%s%3N)

source "$HOME/.config/shell/environment"

# Load Starship (Immediate load for prompt visibility)
eval "$(starship init zsh)"

# Configure ZINIT
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
if [ ! -d "$ZINIT_HOME" ]; then
    mkdir -p "$(dirname $ZINIT_HOME)"
    git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi
source "${ZINIT_HOME}/zinit.zsh"

# --- Plugins --- #

# {{- if not .wsl }}
# Plugin made the shell sluggish on WSL
zinit ice wait'0' lucid
zinit light zsh-users/zsh-syntax-highlighting
# {{ end -}}

zinit ice wait'0' lucid
zinit light zsh-users/zsh-completions

zinit ice wait'0' lucid
zinit light zsh-users/zsh-autosuggestions

# Standard Shell Integrations
source <(fzf --zsh)
eval "$(zoxide init zsh)"

# Snippets from Oh-My-Zsh
zinit ice wait'0' lucid
zinit snippet OMZP::git
zinit ice wait'0' lucid
zinit snippet OMZP::sudo
zinit ice wait'0' lucid
zinit snippet OMZP::archlinux
zinit ice wait'0' lucid
zinit snippet OMZP::command-not-found

# Final completion kickstart - Run ONLY ONCE after plugins load
zinit ice wait'0' lucid atinit'zpcompinit; zpcdreplay'
zinit light Aloxaf/fzf-tab

# --- Configuration --- #

# History persistence
HISTSIZE=1000
HISTFILE=~/.zsh_history
SAVEHIST=$HISTSIZE
setopt appendhistory sharehistory hist_ignore_space hist_ignore_all_dups hist_save_no_dups

# Keybindings
bindkey -e
bindkey '^j' history-search-forward
bindkey '^k' history-search-backward

# Completion styling
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color $realpath'
zstyle ':fzf-tab:complete:__zoxide_z:*' fzf-preview 'ls --color $realpath'

# --- Functions and aliases --- #

source "$HOME/.config/shell/common"

# --- Splash screen --- #

splash="$HOME/.config/shell/splash"

# Show splash if:
# 1. SSH CASE: Run only on the first shell of an SSH connection
if [ -n "$SSH_CONNECTION" ] && [ "$SHLVL" -eq 1 ]; then
    bash "$splash"

# 2. LOCAL CASE: Run only on the first shell of a local session, but NOT inside TMUX
elif [ -z "$SSH_CONNECTION" ] && [ "$SHLVL" -eq 1 ] && [ -z "$TMUX" ]; then
    bash "$splash"
fi

# End profiling
__profile_end=$(date +%s%3N)
__profile_elapsed=$((__profile_end - __profile_start))
echo "Profile loaded in ${__profile_elapsed} ms."
