# vim: ft=gitconfig
[core]
	editor = "nvim"
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
{{- else }}
	autocrlf = input
{{- end }}

[init]
	defaultBranch = main

[user]
	name = Felipe Vellasco
	email = vellascofelipe@gmail.com

[diff]
	prompt = true
[difftool]
	tool = nvimdiff

[difftool "nvimdiff"]
	cmd = "nvim -d \"$REMOTE\" \"$LOCAL\""
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"

[merge]
	conflictStyle = "zdiff3"
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[pull]
	rebase = true

[i18n]
	logOutputEncoding = utf-8

[alias]
	pr = pull --rebase
	s = status
	a = add -A
	l = log --graph --all
	c = commit

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
