# chezmoi:template:left-delimiter=[[ right-delimiter=]]
---
# vim: ft=yaml :

- name: Install standard packages
  package:
    name: "{{ packages.shared.common + (packages.shared[pacman] | default([])) }}"
    state: present
  become: yes

# [[- if .hasGUI ]]
- name: Install GUI packages
  package:
    name: "{{ packages.gui.common + (packages.gui[pacman] | default([])) }}"
    state: present
  when: gui | default(false)
  become: yes
# [[- end -]]

...
